<div class="white-wrap white-wrap-narrow">
  <h1>RSVP: Reserve Sausages Vests and Pants </h1>
<p>Hurrah, you've found the right place to RSVP for our wedding.</p>

  <a class="btn btn-success">I need to RSVP for the first time</a>  <a class="btn btn-default">I need to change my RSVP</a><br>


</div>
