<div class="white-wrap white-wrap-narrow">

  <h3>Download informations</h3>

  <%= form_tag csv_rsvp_path do %>

  <%= password_field_tag :password %>
      <%= submit_tag 'Get informations', class: 'btn btn-danger' %>
  <% end %>
</div>
