<div class="white-wrap">
  <h1>FOUND</h1>
<p>We found your record. We can't let just anyone edit it so we're going to send an email to prove you are really you.  This will give you a link to let you change your details </p>

  <%= form_for send_edit_link_wedding_rsvp_path do %>

      <%= submit_tag 'Send me a link', :class => 'btn btn-success'  %>
      <% end %>
</div>
