<!DOCTYPE html>
<html>
<head>
  <title>Pterowedding rsvp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<small style="color:#ccc;">Graphics by Roz and India</small>

<div class="outer">

  <div class="middle">

    <div class="inner">
<%= yield %>
  </div>
</div>

</div>
</body>
</html>
