<!DOCTYPE html>
<html>
<head>
  <title>Pterowedding rsvp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="outer">
<div class="middle">
  <div class="inner">
<%= yield %>
  </div>
</div>
</div>
</body>
</html>
